<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Send an Enquiry:</h4>
    </div>
    <div class="modal-body">
      <%= simple_form_for email, remote: true do |f| %>
        <%= f.input :email_address %>
        <%= f.input :message %>
        <div class="modal-button">
          <%= f.submit "Send Enquiry", :class => "create-btn" %>
        </div>
      <% end %>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div> -->
  </div>
</div>
