<div class="navbar-tutor">
  <!-- Logo -->
  <a href="/" class="navbar-tutor-brand">
    <i class="fa fa-book"></i>
    <span>Pencil & Paper Tutoring</span>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-tutor-right hidden-xs hidden-sm">
    <a href="tutors" class="navbar-tutor-item navbar-tutor-link">Our Tutors</a>
    <!-- <a href="" class="navbar-tutor-item navbar-tutor-link enquire-button">Enquire</a> -->
    <button type="button" class="btn enquire-button" data-toggle="modal" data-target="#contactModal">Enquire</button>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-tutor-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-tutor-dropdown-menu">
        <li><a href="#">Our Tutors</a></li>
        <li><a href="#">Testimonials</a></li>
      </ul>
    </div>
  </div>
</div>
