<div class="navbar-tutor">
  <!-- Logo -->
  <a href="/" class="navbar-tutor-brand">
    <i class="fa fa-book"></i>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-tutor-right hidden-xs hidden-sm">
    <a href="" class="navbar-tutor-item navbar-tutor-link">Experience</a>
    <a href="" class="navbar-tutor-item navbar-tutor-link">CV</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-tutor-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-tutor-dropdown-menu">
        <li><a href="#">Experience</a></li>
        <li><a href="#">CV</a></li>
      </ul>
    </div>
  </div>
</div>
